<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sign In</title>
</head>
<body>
	<h1>Sign In</h1>
	<p style="color:crimson;" th:if="${(param.error != null) and (param.error[0] == 'true')}">
	Please check your email and password again.
	</p>
	<form action="#" th:action="@{/signin}" th:object="${member}" method="post">
	    <p>EMAIL : <input type="text" th:field="*{email}"/></p>
	    <p>PASSWORD : <input type="password" th:field="*{pw}"/></p>
	    <p>
	    	<input type="submit" value="Sign In"/>
	    </p>
	</form>
	<a th:if="${session.account == null}" href="/signup"><button>Sign Up</button></a>
</body>
</html>